



.body {

/* achtergrond in body met een gif */

  background-image: url(https://gifdb.com/images/high/moving-million-stars-7hoghfwikbqh3c3s.gif);
  scroll-behavior: smooth;
}


/* de design van mijn naam boven in.*/

.Naam {



  border: solid;
  border-color: rgb(32, 40, 112);

  width: 12em;
  height: 2.5em;

  color: azure;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3em;

  font-family: arial;
  font-weight: bold;
  font-size: 35px;

  background-color: rgb(53, 67, 197);
  border-radius: 1em;
}


/* hier heb ik artiekel geselecteerd met class. In het artiekel komt alles te staan. ook heb ik het een shadow gegeven en paar dingen gecentered.*/

.artiekel {
  border: solid;

  width: 40em;
  padding: 0.2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em;
  display: block;
  border: none;
  box-shadow: 1px 1px 5px 5px rgb(78, 135, 195);
  background: linear-gradient(0deg, rgb(66, 161, 198) 70%, #0f1637 100%);
}

/* hier staat img, met foto van mij. Ik heb het een flow gegeven om het meer te laten opvallen. Als je erover hovert wordt de img groter in de glow ook. Ook heb ik het weer gecenterd.    */


.fotobibek {
  box-shadow: 0 0 35px 15px #d5eada;

  width: 8em;
  height: 12em;

  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;

  border-width: 3px;
  border: solid;
  border-color: white;
  transition: 0.25s;

  margin-left: 9em;
}

/*  hier staat de hover om de foto groter te maken en te lagen glowen */



.fotobibek:hover {
  width: 9em;
  height: 13em;
  box-shadow: 0 0 70px 30px #d5eada;
}



/*  in head1 staat belangrijke informatie over mij, ik heb de color ook white gemaakt zodat de tekst meer opvalt, en alles staat gecenterd */

.head1 {
  border: solid;

  border-color: #64a8b8;

  border-radius: 2em;
  height: 10em;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1em;

  background-color: rgb(118, 189, 243);
  font-family: open sans-serif;
  color: white;
  font-size: 1.2em;

  text-align: center;
}


/* hier staat wat minder belangrijk informatie, het staat ook helemaal onder in mijn kaart, met wat donkerdere kleuren zodat je dat als laatst ziet..*/
.head2 {
  border: solid;

  border-color: #64a8b8;
  border-radius: 2em;

  height: 10em;
  width: 18em;

  margin-left: 1em;
  margin-bottom: 1em;

  display: flex;
  justify-content: center;
  text-align: center;

  display: inline-block;

  background-color: rgb(118, 189, 243);
  font-family: open sans-serif;
}

/* hier staat wat minder belangrijk informatie, het staat ook helemaal onder in mijn kaart, met wat donkerdere kleuren zodat je dat als laatst ziet..*/

.head3 {
  border: solid;

  border-color: #64a8b8;
  border-radius: 2em;

  height: 10em;
  width: 18em;

  margin-right: 1em;

  display: flex;
  justify-content: center;
  text-align: center;

  float: right;

  background-color: rgb(118, 189, 243);
}



/*  hieronder heb ik alle tekst gewijzigd/gedisgned om het wat mooier te maken  */ 


.h1tekst {
  margin-top: 10em;

  width: 18em;
  height: 13em;

  font-weight: bold;
  font-size: 0.9em;
  font-family: open sans-serif;
}

.h2tekst {
  width: 12em;
  text-align: center;
  margin-left: 3em;
  margin-top: 1.5em;

  font-size: 1em;
  font-family: open sans-serif;
}

.h3tekst {
  text-align: center;
  margin-top: 3em;
  font-size: 1em;
  font-family: open sans-serif;
  width: 12em;
}


/* hier heb ik de animatie die je bij mijn naam boven in ziet gemaakt. 
Eigenlijk heb ik het meer gedaan om te oefenen, maar het helpt wel om mensen als eerst mijn naam te laten zien want het valt lekker op.
    */


.Bibek {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  10% {
    color: white;
  }
  45% {
    color: purple;
  }
  45% {
    color: rgb(190, 22, 22);
  }
}
